controller:
  config:
    # overrides nginx default of 60s - this is the
    # length of time before an agent needs to reconnect.
    upstream-keepalive-timeout: 600
    proxy-read-timeout: 600
    log-format-escape-json: "true"
    log-format-upstream: '{{ readFile "nginx-log-format.json" | nospace }}'
    default-ssl-certificate: otf.kind
