name: kube-prometheus-stack

grafana:
  enabled: true
  ingress:
    enabled: true
    hosts:
    - {{ requiredEnv "GRAFANA_HOSTNAME" }}
    tls:
    - secretName: {{ requiredEnv "GRAFANA_HOSTNAME" }}
      hosts:
      - {{ requiredEnv "GRAFANA_HOSTNAME" }}
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"

prometheusOperator:
  enabled: true

kubelet:
  enabled: true

alertmanager:
  enabled: false
